<html>
    <head>
        {% include "header.html" %}
        {% load staticfiles %}
        {% include "backminer.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container" style="margin-top:50px;">
           <div class="card" style="margin:20px;">
                <div class="card-header">
                  <h1>WHO ARE YOU</h1>
                </div>
               <p style="padding:1.25rem;">ARE YOU COCKROACH?</p>
               <p style="padding:1.25rem;">HOW DIRTY ARE YOU?</p>
               <img src="https://get.pxhere.com/photo/photography-wildlife-insect-brown-fauna-invertebrate-close-up-great-happy-beetle-insecta-cockroach-weevil-macro-photography-arthropod-ground-beetle-araneus-orb-weaver-spider-scarabs-929867.jpg" alt="蟑螂">
               <br>   
           </div>

        </div>
    </body>
</html>
