{% load staticfiles %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
	<link rel="stylesheet" href="{% static "collection2.css" %}"> 
	<!--<link rel="stylesheet" href="{% static "grid.css" %}">-->
	<link rel="stylesheet" href="{% static "collection.css" %}">
	<link href="{% static "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %}" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
	<link href="{% static "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %}" crossorigin="anonymous">

<div class="bar">
	<ul>
		<li><a href="/">SSInRc</a></li>
		<li ><a href="">Info</a></li>
		<li ><a href="/rank">Rank</a></li>
		<li ><a href="">Status</a></li>
		<li ><a href="/collection">Collection</a></li>
		{% if login %}
		<li ><a href="/user" class="sign">{{ name }}</a></li>
		<li ><a href="/logout" class="signup">Logout</a></li>
		{% else %}
		<li ><a href="/signin" class="sign">Sign In</a></li>
		<li ><a href="/signup" class="signup">Sign Up</a></li>
		{% endif %}


		<div class="clear"></div>
	</ul>
</div>
<div id="group-board" class="grid">
	<div class="form-group">
    <label class="col-md-4 control-label" for="Upload files">Upload files</label>
    <div class="col-md-4">
      <input id="Upload files" name="Upload photo" class="input-file" type="file">
    </div>
	</div>

	<ul class="row">
		<li>
			<a herf="" class="">AC</a>
		</li>

		<li>
			<a herf="" class="">C/C++</a>
		</li>
		<li>
			<a herf="" class="">Python</a>
		</li>
		<li>
			<a herf="" class="">Java</a>
		</li>
	</ul>
	<div class="container">
		<div id="group" class="col-2">
			<table class="raw">
				<thead>
					<tr class="raw">
						<th class="col-md-3">No.</th>
						<th class="col-md-6">Name</th>
						<th class="col-md-3">Deadline</th>
					</tr>
				</thead>
				
			</table>
		</div>
	</div>
	</div>
</div>


{% for n in new %}
	<p><h1>{{ n.title }}</h1></p>
	<p><h3>{{ n.contain }}</h3></p>
	<br/>
{% endfor %}
