<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Welcome to SSInRC Online Judge !This is an Online Judge System for SSInRC's members." />
<meta name="theme-color" content="">
<meta name="google-site-verification" content="cWLi-sjLzTp5-z8ApegvjAVPiUozD0nNdZDPHoilLMw" />
<meta name="author" content="charlie890414">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="zh-TW">
<link rel="alternate" hreflang="zh-Hant" href="https://charlie890414.com/" />
<link rel="canonical" href="https://charlie890414.com/" />

<title>SSInRC</title>
{% load staticfiles %}
<script defer src="{% static "popper.min.js" %}"></script>
<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<link defer rel="stylesheet" href="{% static "bootstrap.min.css" %}">
<script defer src="{% static "bootstrap.min.js" %}"></script>
<script async src="{% static "analytics.js" %}"></script>
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-107600314-1', 'auto');
  ga('send', 'pageview');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3186978065779982",
    enable_page_level_ads: true
  });
</script>

