<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Welcome to DB FINAL Online Judge !" />
<meta name="theme-color" content="">
<meta name="author" content="charlie890414">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="zh-TW">

<title>DB FINAL</title>
{% load static %}
<script defer src="{% static "popper.min.js" %}"></script>
<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<link defer rel="stylesheet" href="{% static "bootstrap.min.css" %}">
<script defer src="{% static "bootstrap.min.js" %}"></script>

