<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>SSInRC</title>
<meta name="google-site-verification" content="cWLi-sjLzTp5-z8ApegvjAVPiUozD0nNdZDPHoilLMw" />

{% load staticfiles %}
<script src="{% static "popper.min.js" %}"></script>
<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
<script src="{% static "bootstrap.min.js" %}"></script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3186978065779982",
    enable_page_level_ads: true
  });
</script>