<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "index.css" %}">
	<title>SSInRC</title>
</head>
<body>
	<div class="bar">
		<ul>
			<li><a href="/">SSInRc</a></li>
			<li ><a href="">Info</a></li>
			<li ><a href="">Rank</a></li>
			<li ><a href="">Status</a></li>
			<li ><a href="">Collection</a></li>

			{% if request.user.is_authenticated %}
				<li ><a href="/signout" class="sign">Sign Out</a></li>
			{% else %}

				<li ><a href="/signin" class="sign">Sign In</a></li>
				<li ><a href="/signup" class="signup">Sign Up</a></li>

			{% endif %}
			<div class="clear"></div>
		</ul>
	</div>
	{% if request.user.is_authenticated %}
		<p>{{user.username}}登入</p>
	{% endif %}
</body>
</html>
