{% load staticfiles %}
<link rel="stylesheet" href="{% static "index.css" %}">
<div class="bar">
	<ul>
		<li><a href="/">SSInRc</a></li>
		<li ><a href="">Info</a></li>
		<li ><a href="/rank=1">Rank</a></li>
		<li ><a href="">Status</a></li>
		<li ><a href="/collection">Collection</a></li>
		{% if login %}
		<li ><a href="/user" class="sign">{{ name }}</a></li>
		<li ><a href="/logout" class="signup">Logout</a></li>
		{% else %}
		<li ><a href="/signin" class="sign">Sign In</a></li>
		<li ><a href="/signup" class="signup">Sign Up</a></li>
		{% endif %}


		<div class="clear"></div>
	</ul>
</div>
{% for n in new %}
	<p><h1>{{ n.title }}</h1></p>
	<p><h3>{{ n.contain }}</h3></p>
	<br/>
{% endfor %}
