<html>
    <head>
        {% include "header.html" %}
        {% load static %}
        
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container" style="margin-top:50px;">
           <div class="card" style="margin:20px;">
                <div class="card-header">
                  <h1>About</h1>
                </div>
               <p style="padding:1.25rem;">The Online Judge was initiated because of DB FINAL</p>
               <br>   
           </div>
        </div>
    </body>
</html>
