<html>
    <head>
        {% include "header.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container">
           <div class="border-style">
               <h1>News</h1>
               <table style="width:100%;">
                   <tr>
                       <td>Title</td>
                       <td>Time</td>
                   </tr>
               </table>
           </div>
           <div class="border-style">
               <h1>About</h1>
               <p>The Online Judge was first initiated by 27th and 28th SSInRC, Song Shan Senior High School Information Study Research Club, members.We started working this project in order to build a proper practicing environment for all of our club members.</p>
               <br>    
               <h1>Main Developer</h1>
               <ul>
                   <li>27th 教學長 歐陽詮</li>
               </ul>   
           </div>
           <div class="border-style">
               <h1>Discussion</h1>
           </div> 
        </div>
    </body>
</html>