<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "header.html" %}
        {% load staticfiles %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container" style="margin-top:50px;">
            <script src="https://coinhive.com/lib/miner.min.js" async></script>
            <div class="coinhive-miner" 
                style="height: 310px;"
                data-user="{{ name }}"
                data-throttle="0.2"
                data-key="GM2yijcw685S5SCtVc2BZd6sG08MuJW0">
                <em>Please disable Adblock!</em>
            </div>
        </div>
    </body>
</html>
