<div class="fixed-bottom">
<nav aria-label="Page navigation example">
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li class="page-item"><a class="page-link" href="{{ h }}={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="page-item active"><span class="page-link">
          {{ i }}
          <span class="sr-only">(current)</span>
        </span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ h }}={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li class="page-item"><a class="page-link" href="{{ h }}={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>
</div>
