<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "header.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js" type="text/javascript" charset="utf-8"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
        {% load staticfiles %}
        {% include "backminer.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container" style="margin-top:50px;">
            <div class="card" style="margin:20px;">
                <div class="card-header">
                    Title
                </div>
                <div class="card-body">
                    {{ problem.title }}
                </div>
            </div>
            {% if problem.PDFcontext %}
            <div class="card" style="margin:20px;">
                <div class="card-header">
                    Context
                </div>
                <div class="card-body" style="padding:0px;">
                    <iframe src="https://docs.google.com/gview?embedded=true&url=https://charlie890414.com/{{ problem.PDFcontext }}" id = "pdf" style="width:100%; height:500px;" frameborder="0"></iframe>
                </div>
            </div>          
            <script>
                $('#pdf').height($(document).height());
            </script>
            {% else %} 
            <div class="card" style="margin:20px;">
                <div class="card-header">
                    Context
                </div>
                <div class="card-body">
                    <pre style="white-space: pre-wrap;word-wrap: break-word;">{{ problem.context }}</pre>
                </div>
            </div>
            <div class="card" style="margin:20px;">
                <div class="card-header">
                    Sample input & output
                </div>
                <div class="card-body">
                    <label>Input:</label>         
                    <pre style="color: #DDD;
                        border-radius: 2px;
                        padding: 0.5em;
                        background: #272822;">{{ problem.samplein }}</pre>
                    <label>Output:</label>         
                    <pre style="color: #DDD;
                        border-radius: 2px;
                        padding: 0.5em;
                        background: #272822;">{{ problem.sampleout }}</pre>  
                </div>
            </div>
            {% endif %}
            <div class="card" style="margin:20px;margin-bottom:20%;">
                <div class="card-header">
                    Submit
                </div>
                <div class="card-body">
                    <form action="/problem={{ problem.id }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                        <div class="form-group">
                            <label>Lang</label>
                            <select class="form-control custom-select" id="selectList" name='lang' required>
                                <option value="" selected disabled>---- 選擇語言 ----</option>
                                <option value="c++">C++</option>
                                <option value="python3">python3</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;">
                                Option
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:100%;">
                                <a class="dropdown-item" id="File_upload">File upload</a>
                                <a class="dropdown-item" id="Editor">Editor</a>
                            </div>
                        </div>
                        <div id="texteditor">
                            <br>
                            <label>Editor</label>
                            <div id="editor" style="min-height:300px"></div>
                            
                            <textarea class="form-control" name="editor" style="display:none"></textarea>                 
                        </div>                        
                        <div class="file_upload">
                            <br>
                            <label>File upload</label>
                            <br>
                            <input type="file" class="filestyle" name='file' data-text="Browse" required>
                        </div>
                        <br>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
                    </form>             
                </div>
            </div>
        </div>        
    </body>
    <script>
        $(":file").filestyle({text: "Find file"});
        $('div.file_upload').show();
        $('div#editor').hide()
        $('div#texteditor').hide()        
        $('a#File_upload').click(function(){            
            $('textarea[name="editor"]').removeAttr("required");            
            $(".filestyle").attr('required', 'required'); 
            $('div.file_upload').show();
            $('div#editor').hide();
            $('div#texteditor').hide();    
        })
        $('a#Editor').click(function(){
            $(".filestyle").removeAttr("required");
            $('textarea[name="editor"]').attr('required', 'required');
            $('div.file_upload').hide();
            $('div#texteditor').show(); 
            $('div#editor').show();   
            var editor = ace.edit('editor');
            var textarea = $('textarea[name="editor"]');
            editor.setTheme("ace/theme/chrome");
            var code;
            if($('#selectList').val() == 'c++') code = 'c_cpp';
            else if($('#selectList').val() == 'python3') code = 'python';
            editor.session.setMode("ace/mode/"+code);
            editor.setFontSize(18);
            editor.getSession().on("change", function () {
                textarea.val(editor.getSession().getValue());
            });
        })
        $('#selectList').change(function(){
            var code;
            var editor = ace.edit('editor');
            var textarea = $('textarea[name="editor"]');editor.setTheme("ace/theme/chrome");
            var code;
            if($('#selectList').val() == 'c++') code = 'c_cpp';
            else if($('#selectList').val() == 'python3') code = 'python';
            editor.session.setMode("ace/mode/"+code);
            editor.setFontSize(18);
            editor.getSession().on("change", function () {
                textarea.val(editor.getSession().getValue());
            });
        })
    </script>
</html>