{% include "bar.html" %}

{{ error }}
<table style="width:100%">
<tr>
  <th>Name</th>
  <th>AC</th>
</tr>
{% for u in users %}
<tr>
  <td align="center"><a href="/profile={{ u.name }}">{{ u.name }}</a> </td>
  <td align="center">{{ u.AC }}</td>
</tr>
{% endfor %}
</table>

<div class="footer">
<h1>	
{% if users.has_other_pages %}
	{% if users.has_previous %}
		<a href="rank={{ users.previous_page_number }}">&laquo;</a>
	{% else %}
		<span>&laquo;</span>
	{% endif %}
	{% for i in users.paginator.page_range %}
		{% if users.number == i %}
			<span>{{ i }} <span class="sr-only"></span></span>
		{% else %}
			<a href="rank={{ i }}">{{ i }}</a>
		{% endif %}
	{% endfor %}
	{% if users.has_next %}
		<a href="rank={{ users.next_page_number }}">&raquo;</a>
	{% else %}
		<span>&raquo;</span>
	{% endif %}
</ul>
{% endif %}
</h1>
</div>
