<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "sign.css" %}">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="row"> 
      <div class="col"></div>
      <div class="card col-10 col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-4 out">
          <div class="card-header">Signup</div>
          <div class="card-body">
              <form action="/signup" method="post" >
                <label>Email address</label>
                <div class="form-group">          
                  <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email" autofocus required>
                </div>
                <label>Name</label>
                <div class="form-group">          
                  <input type="text" class="form-control" id="name" name='name'  placeholder="Enter name" required>
                </div>
                <label>Password</label>
                <div class="form-group">  
                  <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
                </div>
                <label>Comfirm Password</label>
                <div class="form-group">  
                  <input type="password" class="form-control" id="repassword" name='repassword' placeholder="Comfirm password" required>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>{{error}}</p>
              </form>       
          </div>
        </div>
      <div class="col"></div> 
    </div>
  </body>
</html>