<!DOCTYPE html>
<html lang="en">
	<head>
                {% include "header.html" %}
                
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container" style="margin-top:50px;">
                <div class="card" style="margin:20px;">
                        <div class="card-header">
                                Output
                        </div>
                        <div class="card-body">
                                <pre style="white-space: pre-wrap;word-wrap: break-word;">{{ code }}</pre>
                                <pre style="white-space: pre-wrap;word-wrap: break-word;">{{ error }}</pre>
                        </div>
                </div>
        </body>
</html>


